
PreceptorTimeApi/bin/Debug/netcoreapp3.1/PreceptorTimeApi.dll
PreceptorTimeApi/bin/Debug/netcoreapp3.1/PreceptorTimeApi.dll
PreceptorTimeApi/bin/Debug/netcoreapp3.1/PreceptorTimeApi.pdb
*.pdb
PreceptorTimeApi/bin/Debug/netcoreapp3.1/PreceptorTimeApi.dll
*.pdb
PreceptorTimeApi/obj/Debug/netcoreapp3.1/PreceptorTimeApi.dll
PreceptorTimeApi/obj/Debug/netcoreapp3.1/PreceptorTimeApi.pdb
