*.dll
*.pdb
*.suo
*/bin/*
*/obj/*
.vs/PreceptorTimeApi/v16/.suo
.vs/PreceptorTimeApi/v16/.suo
PreceptorTime.Domain/obj/Debug/netstandard2.0/PreceptorTime.Domain.csprojAssemblyReference.cache
PreceptorTime.Domain/obj/Debug/netstandard2.0/PreceptorTime.Domain.csprojAssemblyReference.cache
PreceptorTime.Domain/obj/Debug/netstandard2.0/PreceptorTime.Domain.csprojAssemblyReference.cache
